@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.body {
  padding: 50px 0;
  background-color: black;
  width: 100%;
}
.firstsection {
  margin-top: 40px;
  background-color: transparent;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .body{
    background-color: black;
    max-width: fit-content;
    min-width: fit-content;

  }
  .firstsection{
    margin-top: 0px;
    width: 100%;

  }
  .firstSectionComponents {
    width: 100%;
  }
  .coverTextSpan{
    font-size: 50px;
    margin: 0; 
    padding-top: 30px;

  }
}

.firstSectionComponents {
  background-color: black;
  border-radius: 10px;
  border: groove #FFC700 1px;
  padding: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.firstSectionHeading {
  width: fit-content;
  font-size: 30px;
  color: white;
}
.iconBox{
  margin-top: 75px;
}
.iconHeader{
padding: 10px;
  border-left: solid 3px #FFC700;
  color: #FFC700;
  font-size: 40px;
  margin-left: 20px;
}
.icon{
  margin:50px 20px;
  font-size: 150px;
  color: #FFC700;
}
.iconBox2{
  margin-top: 75px;
  background-color: #FFC700;
  padding-top:50px;
}
.iconHeader2{
padding: 10px;
  border-left: solid 3px black;
  color: black;
  font-size: 40px;
  margin-left: 20px;
}
.oneIcon2{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 30px 50px 30px;
  color: black;
}
.textIcon2>span{
  font-weight: 900;
  color: black;
  font-size: 35px;
}
.textIcon2>p{
  color: black;
  font-size: 25px;
}
.icon2{
  font-size: 130px;
}
.top{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.firstSectionImage {

  width: 500px;
}

.searchTerm {
  width: 70%;
  border: 2px solid #ffffff;
  padding: 5px;
  margin-bottom: 10px;
  /* height: 40px; */
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
}

.searchTerm:focus {
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
}

.searchButton {
  background-color: black;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  color: #fff;
  border-radius: 1px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 0 0 2px;
}

.searchButton:hover {
  border: 1px solid #FFC700;
  border-radius: 3px;
  height: 40px;
}
.gridItem {
  padding: 5px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.listComponent {
  color: white;
  display: inline;
  margin: 0 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.bookmarkicon {
  color: #FFC700;
  align-self: center;
  margin: 3px;
  font-size: 20px;
}
.textInYellow{
  color: #FFC700;;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.textInYellowHeader{
  color: #FFC700;;
  font-size: 60px;
  text-align: center;
  align-self: center;
  width: 100%;
  font-weight: 1000;  
}
.header {
  margin-left: 70px;
  text-align: right;
  color: #FFC700;
  font-size: 60px;
  font-weight: 1000;
}
.containerYellowBoxes{
background-color: black;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 100px 0 100px 0 ;
}
.yellowBox{
  padding: 5px;
  text-align: center;
  background-color: #FFC700;
  color: black;
  width: 20%;
  border-radius: 5px;
  margin: 20px;
}
.yellowLogo{
  padding: 10px;
  font-size: 200px;
}
.yellowText{
  text-align: center;
  color: black;
  font-weight: bolder;
  margin: 10px;
}
.yellowHead{
  color: black;
  font-weight:1500;
  font-size: 25px;
}
.yellowDesc{
  color: black;
  font-weight: bolder;
}
.yellowButton{
  background-color: black;
  color: #FFC700;
  border-radius: 5px;
  padding: 20px 0;
  font-weight: bolder;
}
.aws-btn {
  --slider-transition-duration: 400ms;
  --organic-arrow-thickness: 5px;
  --organic-order-radius : 0px;
  --organic-arrow-height: 35px;
  --organic-arrow-color: black;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #FFC700;
  --control-bullet-active-color:white;
  --loader-bar-color: white;
  --loader-bar-height: 10px;
  }
  .awssld__wrapper{
    min-height: 600px;
    max-height: 600px;
  }
.coverOne{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.coverImage{
  position: absolute;
  float: right;
  right: 5%;
  top: 10%;
  margin: 20px;
  min-height: 80%;
  max-height: 80%;
}
.coverText{
  font-size: 100px;
  height: 500px;
  width: 75%;
  background-color: #FFC700;
  margin:30px 0;
  border-radius: 0 10px 10px 0;
}
.coverTextSpan{
  max-width: 50%;
  min-width: 50%;
  margin-top: 120px;
  margin-left: 110px;
}